.jumbotron{
    background-color: blue;
    color: white;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: blue;
    color: white;
    margin-bottom: 0px;
}

a{
    color: white;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100px;
}